# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List development environment tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

# This is a simple arithmetic expression to multiply then add integers

In [17]:
(3 * 4) + 5

17

# This will convert 200 minutes to hours by diving by 60

In [18]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Habib Hanafi