In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List development environment tools for Data Science

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

In [ ]:
| Data Science Tools |
| ------------------ |
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [ ]:
## Author
Habib Hanafi